/* ------------------------- nav ------------------------- */
nav {
    padding: 2.5rem 5rem;
    background-color: var(--color-black);
}

.nav_a {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    color:var(--color-white)
}

.nav_a:hover {
    color:var(--color-orange)
}

.nav_logo {
    width: 20%;
}

.nav_cardLink {
    width: 60%;
}

.cardIcon {
    width: 20%;
}


/* ------------------------- Header Body ------------------------- */
.headerCard {
    width: 100%;
    height: 46rem;
    min-height: max-content;
    background-color: var(--color-black);
    padding: 5rem 0 2.5rem 5rem;
    overflow: hidden;
}

.headerCard_text {
    width: 40%;
    gap: 2rem;
}

.headerCard_img {
    width: 60%;
}

.headerCard_img img {
    width: 70%;
}

/* ------------------------- Category Card ------------------------- */
#categoryCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: max-content;
    height: 30rem;
}

.categoryCard_box {
    background-color: var(--color-gray);
    width: 22rem;
    height: 13rem;
    border-radius: .5rem;
    position: relative;
    transition: var(--transition);
}

.underLine {
    margin: 0 5rem;
    border-bottom: 1px solid var(--color-white);
    opacity: .5;
  }

.categoryCard_box:hover {
    box-shadow: 0px 0px 2px var(--color-black);
}

.categoryCard_box > img {
    position: absolute;
    top: -4rem;
    width: 12rem;
}

.categoryCard_box > div {
    margin-top: 5rem;
}

/* ------------------------- Home Album ------------------------- */
#homeAlbum {

}

.albumBoxFullOrange {
    margin-bottom: 3rem;
    width: 100%;
    height: 35rem;
    border-radius: 10px;
    background-color: var(--color-orange);
    position: relative;
    padding: 5rem;
    overflow: hidden;
}

.albumBoxFullOrangeLeft {
    width: 65%;
}

.albumBoxFullOrangeLeftImg {
    width: 26rem;
    position: absolute;
    bottom: -2rem;
    left: 8rem;
    z-index: 2;
}

.albumBoxFullOrangeLeftSvg {
    width: 70rem;
    position: absolute;
    left: 0;
    bottom: -20rem;
}

.albumBoxFullOrangeRight {
    width: 35%;
    z-index: 3;
}


.albumBoxFullGray {
    margin-bottom: 3rem;
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    background-color: var(--color-gray);
    position: relative;
    padding: 5rem;
    overflow: hidden;
}

.albumBoxFullGrayLeft {
    display: grid;
    width: 25%;
}

.albumBoxFullGrayRight {
    width: 75%;
}

.albumBoxFullOrangeRightImg {
    height: 100%;
    position: absolute;
    right: 0;
    top:0
}


.albumBoxHulf {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.albumBoxHulfWidth {
    width: 33.5rem;
}

.albumBoxHulfLeft {
    height: 20rem;
    border-radius: 10px;
    background-color: var(--color-gray);
    overflow: hidden;
}

.albumBoxHulfRight {
    height: 20rem;
    padding: 7rem;
    border-radius: 10px;
    background-color: var(--color-gray);
    overflow: hidden;
}


/* ------------------------- Product Bringing ------------------------- */
#productBringing {
    height: 35rem;
    margin: 15rem 0;
}

.pBLeft {
    width: 50%;
    display: grid;
}

.pBRight {
    width: 50%;
}

.pBRightImg {
    border-radius: 10px;
    width: 100%;
}


/* ------------------------- Footer ------------------------- */
#footer {
    pad: 3rem 5rem;
    width: 100%;
    min-height: 15rem;
    background-color: var(--color-black);
}